.container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  flex: 1;
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
  box-sizing: border-box;
  margin: 0;
  // align-items: center;
  // justify-content: center;
}

.item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  align-items: center;
  padding: 5px 15px;
  min-height: 50px;
  border-bottom: 1px solid rgb(235, 235, 235);
  &.completed {
    text-decoration: line-through;
  }
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(244, 244, 244);
  }
}

.buttons {
  display: inline-flex;
  margin-left: auto;
}

.btn {
  padding: 5px;
  min-width: 40px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 5px;
  background-color: transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: rgb(61, 23, 200);
    background-color: white;
  }
}

.empty {
  margin: auto;
}

.loadMore {
  padding: 0;
  background: none;
  border: 0;
  color: gray;
  text-decoration: underline;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.fullLoader {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}
